{% extends 'menu.html' %}
{% block pagename %}<h1>Игры</h1>{% endblock %}
{% block menu %}{{ block.super }}{% endblock %}
{% block content %}
    <hr>
    {% for new in page_news %}
        <h2>{{ new.title }}</h2>
        <br>
        {{ new.content }}
        <br>
        <small style="float: right; margin-right: 20px;">{{ new.date }}</small>
        <hr>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if page_news.has_previous %}
                <a href="?page=1">&laquo; Первая</a> <br>
                <a href="?page={{ page_news.previous_page_number }}">Предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ page_news.number }} из {{ page_news.paginator.num_pages }}.
            </span>

            {% if page_news.has_next %}
                <a href="?page={{ page_news.next_page_number }}">Следующая</a> <br>
                <a href="?page={{ page_news.paginator.num_pages }}">Последняя &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}